@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

h1{
    font-family: 'Notable', sans-se rif;
}

.font{
    font-family: 'Reenie Beanie', cursive;
}

.bgcolor{
    background-color: darkgray;
}

.well{
    border-style: solid;
}
